baseURL: https://openms.de/
languageCode: en-us
theme: scientific-python-hugo-theme
disableKinds: ["taxonomy", "term"]
DefaultContentLanguage: en
markup:
  goldmark:
    renderer:
      unsafe: true
  highlight:
    guessSyntax: true

# Uncomment this to disable the translations for the specified languages.
# This may be useful to be able to merge partial translations without deploying
# them to openms.de immediately.
disableLanguages: []

params:
  images:
    - /images/logo.svg
  navColor: blue
  plausible:
    dataDomain: openms.de
languages:
  en:
    title: OpenMS
    weight: 1
    contentDir: content/en
    languageName: English
    params:
      description: Why OpenMS? Mass Spectrometry. Visualizations. Open source.
      navbarlogo:
        image: OpenMS_transparent_blackFont.png
        link: /
      hero:
        # Main hero title
        # title: OpenMS
        # Hero subtitle (optional)
        subtitle: The open-source framework for Mass Spectrometry
        # Button text
        buttontext: Get started
        # Where the main hero button links to
        buttonlink: https://openms.readthedocs.io/en/latest/about/installation.html
        # Hero image (from static/images/___)
        image: OpenMS_transparent_blackFont.png

      heroGroup:
        - title: "OpenMS allows users to:"
          bgColor: ECF2F9
          heroItems:
            - title: Run existing workflows
              subtitle: Run existing workflows for proteomics and metabolomics with OpenMS in KNIME.
              leftAlign: true
              image: knime-analytics.png
              buttonText: Get Started
              buttonLink: "https://openms.readthedocs.io/en/latest/getting-started/knime-get-started.html"
            - title: Create your own workflows
              subtitle: Modify and create your own OpenMS workflows in Galaxy, KNIME and Nextflow.
              image: knime-edit.png
              buttonText: Get Started
              buttonLink: "https://openms.readthedocs.io/en/latest/getting-started/workflows.html"
            - title: Use OpenMS in Python
              subtitle: Enhance workflows with pyOpenMS scripts or develop novel methods using pyOpenMS
              leftAlign: true
              image: pyopenms-logo.png
              imgClass: img-fit
              bottomBorderRadius: true
              buttonText: Get Started
              buttonLink: "https://pyopenms.readthedocs.io/en/latest/"
        - title: "Advanced users / developers can use OpenMS to:"
          bgColor: FFF1E0
          heroItems:
            - title: Analyze large datasets
              subtitle: Run workflows on very large datasets on powerful compute infrastructure
              leftAlign: true
              imgClass: img-fit
              image: nf-core-logo.png
              buttonText: Get Started
              buttonLink: "https://openms.readthedocs.io/en/latest/getting-started/nextflow-get-started.html"
            - title: Create high-performance tools
              subtitle: Develop high-performance tools or algorithms with the C++ OpenMS library
              terminal: true
              buttonText: Get Started
              bottomBorderRadius: true
              buttonLink: "https://abibuilder.cs.uni-tuebingen.de/archive/openms/Documentation/nightly/html/OpenMS_tutorial.html"

      keyfeatures:
        title: What is OpenMS ?
        subtitle: OpenMS offers an open-source C++ library (+ Python bindings) for LC/MS data management, analysis and visualization. It empowers rapid development of mass spectrometry related software. OpenMS is freely  available under the three clause BSD license and runs under Windows, macOS and Linux. The OpenMS members have a strong commitment to creating an open, inclusive, and positive community. Please read the OpenMS Code of Conduct for guidance on how to interact with others in a way that makes the community thrive.

      webapps:
        - index: 0
          url: https://abi-services.cs.uni-tuebingen.de/flashtaggerviewer/
          logo: /images/webapp/logo/flashapp.png
          description: FLASHApp allows for interactive analysis and visualization of top-down proteomics data.
        - index: 1
          url: https://abi-services.cs.uni-tuebingen.de/umetaflow/
          logo: /images/webapp/logo/umetaflow.png
          description: This app offers the powerful UmetaFlow pipeline for untargeted metabolomics in an accessible user interface.
        - index: 2
          url: https://abi-services.cs.uni-tuebingen.de/nuxl/
          logo: /images/webapp/logo/nuxl.png
          description: NuXL is a dedicated software package designed for the analysis of XL-MS (cross-linking mass spectrometry).
        - index: 3
          url: https://abi-services.cs.uni-tuebingen.de/mhcquant/
          logo: /images/webapp/logo/mhcquant.svg
          description: MHCQuant is a web application for analysis of MHC-bound peptides in immunopeptidomics studies.
        - index: 4
          url: https://abi-services.cs.uni-tuebingen.de/toppview-lite/
          logo: /images/webapp/logo/toppview-lite.svg
          description: TOPPView Lite is a web-based viewer for interactive visualization and exploration of mass spectrometry data.
        - index: 5
          logo: /images/webapp/logo/naseweis.png
          url: https://abi-services.cs.uni-tuebingen.de/naseweis/
          description: NASEWEIS is a WebApp for the NucleicAcidSearch Engine. It allows for library searching of Oligonucleotides.
        - index: 6
          url: https://abi-services.cs.uni-tuebingen.de/streamsage/
          logo: /images/webapp/logo/streamsage.png
          description: StreamSage is a web application for performing proteomics database searching in your browser.

      section5: false

      footer:
        title: OpenMS
        deployedBy: /images/deployed-by-netlify.png
        sponsorLogo1: /images/logos/denbi-logo-white.svg
        sponsorLogo2: /images/logos/elixir-logo-white.png
        sponsorLogo3: /images/logos/libis-logo-white.svg
        logo:
        socialmediatitle: ""
        socialmedia:
          - link: https://github.com/OpenMS/OpenMS
            icon: github
          - link: https://discord.com/invite/4TAGhqJ7s5
            icon: discord
        quicklinks:
          column1:
            links:
              - text: Install
                link: https://openms.readthedocs.io/en/latest/about/installation.html
              - text: Documentation
                link: https://openms.readthedocs.io/en/latest/
              - text: Citing OpenMS
                link: /citing-openms
          column2:
            links:
              - text: Community
                link: /communication
              - text: Contribute
                link: /contribute
              - text: Code of conduct
                link: /code-of-conduct
          column3:
            links:
              - text: OpenMS Inc.
                link: /about
              - text: Help
                link: /help
              - text: Jobs
                link: /jobs
          column4:
            links:
              - text: Terms of use
                link: /terms
              - text: Privacy
                link: /privacy
              - text: Press kit
                link: /press-kit
              - text: Impressum
                link: /impressum

      navbar:
        - title: News
          url: /news
        - title: Install
          url: https://openms.readthedocs.io/en/latest/about/installation.html
        - title: Documentation
          url: https://openms.readthedocs.io/en/latest/index.html
        - title: Community
          sublinks:
            - title: Communication
              url: /communication
            - title: Contribute
              url: /contribute
            - title: Awards
              url: /news/fellowship2024
          url: /community
        - title: About Us
          sublinks:
            - title: OpenMS Inc.
              url: /about
            - title: Contributors
              url: /contributors
          url: /about
        - title: Use Cases
          url: /publications
          sublinks:
            - title: Applications
              url: /applications
            - title: Publications
              url: /publications
        - title: Help Request
          url: /help-request
          button: true
