{{ define "main" }}
{{- if eq .Section "news" -}}
{{ partial "news-single-main.html" . }}
{{- else if or (eq .File.BaseFileName "publications") (eq .File.Path "publications.md") -}}
{{ partial "publications-main.html" . }}
{{- else if eq .File.BaseFileName "openms-lib" -}}
{{ partial "openms-lib-main.html" . }}
{{- else if eq .File.BaseFileName "calendar" -}}
{{ partial "community-calendar-main.html" . }}
{{- else if eq .File.BaseFileName "donate" -}}
{{ partial "donate-main.html" . }}
{{- else if eq .File.BaseFileName "contribute" -}}
{{ partial "contribute-main.html" . }}
{{- else if eq .File.BaseFileName "about" -}}
{{ partial "about-main.html" . }}
{{- else if eq .File.BaseFileName "governance" -}}
{{ partial "governance-main.html" . }}
{{- else if eq .File.BaseFileName "contact" -}}
{{ partial "contact-main.html" . }}
{{- else if eq .File.BaseFileName "research-partnerships" -}}
{{ partial "research-partnerships-main.html" . }}
{{- else if eq .File.BaseFileName "help" -}}
{{ partial "help-main.html" . }}
{{- else if eq .File.BaseFileName "sponsor-us" -}}
{{ partial "sponsor-us-main.html" . }}
{{- else -}}
{{ partial "single/content.html" . }}
{{- end -}}
{{ end }}
