.applications-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 150px;
  max-width: 1152px;
}

.applications-container {
  display: flex;
  margin-bottom: 30px;
  
}
.application-item {
  margin: 0 20px;
  margin: 0 20px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;    
  border: 1px solid #DFDFDF;
  border-radius: 6px;
}
.application-item-image {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.application-under-pics {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}
.application-item-desc {
padding: 10px 20px;
}
.application-item-desc h3 {
  font-size: 18px;
  line-height: 21px;
  text-transform: none;    
  transition: color 0.3s ease;
  padding: 0 0 10px;
}
.application-item-desc a:hover h3 {
color: #7A76FF;
}
.application-under-pics p {
font-size: 14px;
padding: 0;
color: #5B6372;
}
.application-links {
  border-top: 1px solid #DFDFDF;
  width: 100%;
  padding: 10px 20px;
  display: flex;    
  justify-content: flex-end;
  gap: 10px;
}
.application-links a {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #fff;
  transition: border-color 0.3s ease;
}
.application-links a:hover {
border: 2px solid #7A76FF;
}
.application-links img {
border-radius: 30px;
}
/* application-item styles */
.application-item {
  position: relative;
  overflow: hidden;
}

/* Image container styles */
.application-item .image-wrapper {
  position: relative;
  overflow: hidden;
}

/* Image styles */
.application-item-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease; /* Image zoom effect */
  min-height: 200px;
}

/* Zoom image on hover */
.application-item:hover .image-wrapper .application-item-image {
  transform: scale(1.1); /* Zoom image */
}

/* Overlay styles */
.image-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0; /* Hidden by default */
  pointer-events: none; /* Prevent the overlay from blocking clicks */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease; /* Smooth transition effect */
}

/* Show overlay on hover */
.application-item:hover .image-wrapper .overlay {
  opacity: 1; /* Display overlay */
}

/* Center icon styles */
.image-wrapper .overlay i {
  width: 40px;
  height: 40px;
}
.image-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

.image-wrapper:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.overlay svg {
  width: 50px;
  height: 50px;
  fill: #ffffff; /* Icon color */
}

@media (max-width: 1349px) {

}

@media (max-width: 999px) {

}

@media (max-width: 699px) {
.applications-section-container {
  padding: 0 20px;
}
.applications-container {    
  flex-direction: column;
  gap: 20px;
}
.application-item {
  width: 100%;
  margin: 0;
}

}