.team {
    padding-bottom: 2rem;
}

.team .members {
    display: flex;
    flex-wrap: wrap;
}

.team .member {
    width: 11rem;
    display: flex;
    flex-direction: column;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    vertical-align: top;
}

.team .member .photo img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.team .member .name {
    font-weight: bold;
}

.roles {
    margin-top: 0.5rem;
}

.role {
    display: inline-block;
    background-color: #eee;
    color: #333;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.85em;
    margin-right: 0.3rem;
}
