.webapps-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 30px;
}

.swiper {
 position: relative;
 padding: 0 55px 0 45px;
 width: 1350px;
 height: 400px;
 overflow: hidden;
}
    
.swiper-wrapper .swiper-slide {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 height: 65%;
 width: 90%;
 border: 1px solid lightgray;
 border-radius: 25px;
 box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
 transition: height 0.6s ease;
}

.swiper-slide.slide-1 img {
 width: 230px;
 height: 150px;
 margin-left: 30px;
 margin-top: 35px;
}

.swiper-slide.slide-2 img {
 width: 280px;
 height: 100px;
 margin-top: 60px;
}

.swiper-slide.slide-3 img {
 width: 250px;
 height: 230px;
 margin-top: 10px;
 margin-left: 10px;
}

.swiper-slide.slide-5 img {
 width: 230px;
 height: 150px;
 margin-left: 30px;
 margin-top: 35px;
}

.swiper-slide.slide-6 img {
 width: 280px;
 height: 100px;
 margin-top: 60px;
}

.swiper-slide.slide-7 img {
 width: 250px;
 height: 230px;
 margin-top: 10px;
 margin-left: 10px;
}

.swiper-slide p {
 margin: 0px;
 padding-top: 3px;
 margin-left: 10px;
 display: none;
 transition: display 2.5s ease;
 font-weight: 600;
 margin-bottom: 10px;
}

.swiper-slide img {
 width: 275px;;
 height: 260px;;
}

.swiper-button-prev, .swiper-button-next {
 color: #000080;
 position: absolute;
 top: 40%;
}