{{- $item := . }}
<a
  href="{{ $item.url }}"
  class="navbar-item navbar-cta-item{{ if eq $item.buttonVariant "sponsor" }} openms-step__cta openms-btn-primary{{ else }} about-cta-btn about-cta-btn--donate{{ end }}"
  aria-label="{{ $item.title }}"
>
  <span class="navbar-cta-label navbar-cta-label--full">{{ $item.title }}</span>
  <span class="navbar-cta-label navbar-cta-label--short">{{ $item.shortTitle | default $item.title }}</span>
  {{ if $item.is_external }}{{ partial "svg-icon" "launch" }}{{ end }}
</a>
