<section class="webapps-container">
 <h1 class="title is-1 is-bold is-spaced heroItemTitle" > WebApps </h1>
      <div class="swiper">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/webapp/logo/umetaflow-logo.png" alt="">
            <p>This is a longer card</p>
            <p>with supporting text</p>
          </div>
          <div class="swiper-slide">
            <img src="/images/webapp/logo/umetaflow-logo.png" alt="">
            <p>This is a longer card</p>
            <p>with supporting text</p>
          </div>
          <div class="swiper-slide">
            <img src="/images/webapp/logo/umetaflow-logo.png" alt="">
            <p>This is a longer card</p>
            <p>with supporting text</p>
          </div>
          <div class="swiper-slide">
            <img src="/images/webapp/logo/umetaflow-logo.png" alt="">
            <p>This is a longer card</p>
            <p>with supporting text</p>
          </div>
          <div class="swiper-slide">
            <img src="/images/webapp/logo/umetaflow-logo.png" alt="">
            <p>This is a longer card</p>
            <p>with supporting text</p>
          </div>
          <div class="swiper-slide">
            <img src="/images/webapp/logo/umetaflow-logo.png" alt="">
            <p>This is a longer card</p>
            <p>with supporting text</p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </section>